<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h1> Cars Table </h1>
<table>
    <colgroup>
        <col span="3" style="background:Khaki">
        <col style="background-color:LightCyan">
    </colgroup>
    <thead>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>